[Desktop Entry]
Name=Update Manager
Name[ca]=Gestor d'actualitzacions
Name[de]=Aktualisierungs- Manager
Name[el]=Διαχειριστής ενημερώσεων
Name[es]=Gestor de Actualizaciones
Name[fr]=Gestionnaire de mises à jour
Name[it]=Gestore aggiornamenti
Name[ja]=アップデートマネージャー
Name[nl]=Update Manager
Name[pl]=Menedżer aktualizacji
Name[ru]=Менеджер обновлений
Name[se]=Uppdateringsverktyget
Name[tr]=Güncelleştirme Yöneticisi
Comment=Show and install available updates
Comment[ca]=Mostra i instal·la actualitzacions disponibles 
Comment[de]=Zeige und installiere verfügbare Aktualisierungen
Comment[fr]=Voir et installer les mises à jour disponibles
Comment[it]=Visualizza e installa aggiornamenti disponibili
Comment[nl]=Beschikbare updates weergeven en installeren
Comment[pl]=Pokaż i zainstaluj dostępne aktualizacje
Comment[tr]=Mevcut güncelleştirmeleri göster ve kur
Exec=updatemanager
Icon=update-manager
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings;
StartupNotify=false
