[Desktop Entry]
Name=Update Manager
Name[ca]=Gestor d'actualitzacions
Name[de]=Update Manager
Name[el]=Διαχειριστής ενημερώσεων
Name[es]=Gestor de Actualizaciones
Name[fr]=Gestionnaire de mises à jour
Name[it]=Gestore aggiornamenti
Name[ja]=アップデートマネージャー
Name[nl]=Update Manager
Name[pl]=Menedżer aktualizacji
Name[pt]=Gestor de Atualização
Name[ru]=Менеджер обновлений
Name[se]=Uppdateringsverktyget
Name[tr]=Güncelleştirme Yöneticisi
Comment=Show and install available updates
Comment[ca]=Mostra i instal·la actualitzacions disponibles 
Comment[de]=Zeige und installiere verfügbare Aktualisierungen
Comment[es]=Mostrar e instalar las actualizaciones disponibles
Comment[fr]=Voir et installer les mises à jour disponibles
Comment[it]=Visualizza e installa aggiornamenti disponibili
Comment[ja]=有効なアップデートを表示・インストール
Comment[nl]=Beschikbare updates weergeven en installeren
Comment[pl]=Pokaż i zainstaluj dostępne aktualizacje
Comment[pt]=Mostrar e instalar as atualizações disponiveis
Comment[ru]=Показать и установить доступные обновления
Comment[tr]=Mevcut güncelleştirmeleri göster ve kur
Exec=updatemanager
Icon=system-software-installer
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings;
StartupNotify=false
