[Desktop Entry]
Encoding=UTF-8
Name=updatemanager
Comment=Update Manager
Icon=stock_lock
Exec=updatemanager-launcher
Terminal=false
Type=Application
Categories=

