[Desktop Entry]
Encoding=UTF-8
Name=updatemanagertray
Name[ca]=updatemanagertray
Name[de]=updatemanagertray
Name[es]=updatemanagertray
Name[fr]=Barre du gestionnaire
Name[it]=Gestore aggiornamenti
Name[nl]=updatemanagertray
Name[pt]=updatemanagerbandeja
Comment=Update Manager Tray
Comment[ca]=Safata del Gestor d'Actualitzacions 
Comment[de]=Update Manager Tray
Comment[es]=Bandeja del Gestor de Actualizaciones
Comment[fr]=Barre des tâches du gestionnaire
Comment[it]=Gestore aggiornamenti
Comment[nl]=Update Manager Tray
Comment[pt]=Update Manager Bandeja
Comment[ru]=Менеджер Обновлений Лоток
Icon=stock_lock
Exec=updatemanager -t
Terminal=false
Type=Application
Categories=

