[Desktop Entry]
Encoding=UTF-8
Name=updatemanagertray
Name[ca]=updatemanagertray
Name[de]=Update Manager Anzeige
Name[es]=updatemanagertray
Name[fr]=Barre du gestionnaire
Name[it]=Gestore aggiornamenti
Name[ja]=updatemanagertray
Name[nl]=updatemanagertray
Name[pl]=updatemanagertray
Name[pt]=updatemanagerbandeja
Name[ru]=updatemanagertray
Comment=Update Manager Tray
Comment[ca]=Safata del Gestor d'Actualitzacions 
Comment[de]=Update Manager Anzeige
Comment[es]=Bandeja del Gestor de Actualizaciones
Comment[fr]=Barre des tâches du gestionnaire
Comment[it]=Gestore aggiornamenti
Comment[ja]=アップデートマネージャートレイ
Comment[nl]=Update Manager Tray
Comment[pl]=Taca Menadżera Aktualizacji
Comment[pt]=Gestor de Atualização Bandeja
Comment[ru]=Менеджер Обновлений Лоток
Icon=updatemanager
Exec=updatemanager -t
Terminal=false
Type=Application
Categories=

